*{
    margin: 0px;
    font-family: "Inter", sans-serif;
    
 }  
 html{
    overflow-x: hidden;
 }

 .seçao-1{
    width: 100%;
    height: 475px;
    background: #303030;
    
 }

 .menusuperior{
    
    padding: 0px;
    color: #FFFFFF;
    margin-left: 62px;
    padding-top: 206px;
    }
  
.titulo-menusuperior{
    /**margin-left: 30px;
    margin-top: 60px;
    background-color: #303030;
    color: #FFFFFF;*/
    font-size: 50px;
   

}

.texto-menusuperior{
    margin-top: 20px;
    font-size: 20px;
    /**background-color: #303030;
    color: #FFFFFF;
    width: 1000px;
    height: 100px;*/

    
}

.menuintermedio{

    
    padding-bottom: 66.82px;
    padding-top: 96px;

    display: flex;
    width: 100%;
    gap: 99px;
    font-size: 20px;
    color: #000000;
    justify-content: center;

}

.menuapartamento{
    display: flex;
    padding: 0 77px;
    gap: 66px;
    margin-bottom: 92px;
    
    align-items: center;
    color: #F5F5F5;
    margin-top: 82px;
    width: 100%;
}

.imagens{
    width: 510px;
    height: 605px;
    
    
    
}

#titulo-menumedio{
    
    
    color: #000000;
    
    
}

#texto-menumedio{
    
    margin-top: 40px;
    font-size: 20px;
    color: #000000;
    
}

#formulario{
    
    background-color: #303030;
    display: flex;
    justify-content: center;
    padding: 87px 0px


}
  
#texto-formulario{
       
    font-size: 32px;
    margin-bottom: 48px;
    color: #FFFFFF;
        
    
}

input{
    Width: 508px;
    Height: 72px;
    background-color: #FFFFFF;
    border: 15px;
    border-radius: 10px;
    padding-left: 25px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    margin: 0px;
    
}
    
button{
    font-family: "Raleway", sans-serif; 
    background-color: #C07212;
    width: 286px;
    height: 74px;
    color: #FFFFFF;
    border-radius: 10px;
     margin-bottom: 50px;
    font-weight: bolder;
    font-size: 30px;
    transition-duration: 0.5s;
    margin-top: 80px;
}

.formulario-style{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;

}
    
button:hover{
        
        color: #FFFFFF;
        transform: translateY(-7px);
        transition-duration: 0.5s;
}




      









